.Weather {
  border-radius: 10px;
  background: linear-gradient(180deg, #54a6db 0%, #73bae1 100%);
  box-shadow: 2px 2px 2px 1px #c7cfd4;
  padding: 20px 30px;
  text-align: center;
  color: white;
}

/* Background colors */

.clear-day {
  background: linear-gradient(180deg, #54a6db 0%, #73bae1 100%);
}

.clear-night {
  background: linear-gradient(180deg, #050305 0%, #9661a2 100%);
}

.partly-cloudy-day {
  background: linear-gradient(180deg, #5493b2 0%, #a7bdca 100%);
}

.partly-cloudy-night {
  background: linear-gradient(180deg, #020b1a 0%, #16213f 100%);
}

.cloudy-day {
  background: linear-gradient(180deg, #5493b2 0%, #a6b4bb 50%, #a7bdca 100%);
}

.cloudy-night {
  background: linear-gradient(180deg, #2a3b4f 0%, #384c64 100%);
}

.rain-day {
  background: linear-gradient(180deg, #4a5f94 0%, #384c64 100%);
}

.rain-night {
  background: linear-gradient(180deg, #2a3b4f 0%, #384c64 100%);
}

.thunderstorm-day {
  background: linear-gradient(180deg, #4266a4 0%, #cbaaa7 100%);
}

.thunderstorm-night {
  background: linear-gradient(180deg, #0b060c 0%, #774160 100%);
}

.snow-day {
  background: linear-gradient(180deg, #787c87 0%, #adb7be 100%);
}

.snow-night {
  background: linear-gradient(180deg, #060d1d 0%, #717d85 100%);
}

.fog-day {
  background: linear-gradient(180deg, #bb8db8 0%, #5e5e90 100%);
}

.fog-night {
  background: linear-gradient(180deg, #18171c 0%, #715f4b 100%);
}

/*end  of background colors*/

.Weather form {
  margin-bottom: 10px;
}

.Weather input[type="search"] {
  font-style: italic;
  font-weight: lighter;
  box-shadow: none;
}

.Weather input[type="search"]:focus {
  font-style: italic;
  font-weight: lighter;
  box-shadow: none;
}

.Weather button {
  color: #ffffff;
  background-color: transparent;
  border: transparent;
  margin-left: -20px;
}

.Weather button:hover {
  background-color: transparent;
  color: #c7cfd4;
}

.Weather h1,
h2 {
  font-size: 30px;
  font-weight: lighter;
}

.Weather p {
  font-weight: lighter;
}

.Weather li {
  display: inline;
  font-weight: lighter;
}

.Weather .weather-temperature {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Weather .weather-temperature canvas {
  height: 60px;
  /* margin-right: -100px; */
  text-align: right;
}

.Weather .units {
  font-size: 20px;
  margin-left: 300px;
  margin-bottom: -10px;
  font-weight: lighter;
}

.Weather .units a {
  color: #bbbbbb;
}

.Weather .units .active {
  font-weight: 500;
  color: #ffffff;
}

.Weather #current-temperature {
  font-size: 70px;
  font-weight: lighter;
  line-height: 70px;
  text-align: left;
}
